<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.mobile_lab2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rss_news_launcher"
        android:label="News reader"
        android:roundIcon="@mipmap/rss_news_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".userPreferencesActivity" />
        <activity android:name=".articleViewActivity" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="News reader"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".RSSPullService"
            android:exported="false" />
        <receiver android:process=":remote" android:name=".Alarm" />
    </application>

</manifest>